<div class="twoColumns-1">
	<div class="sub-nav">
		<ul>
			<li><%=link_to "Get Involved", :controller => 'benefits', :action => 'involved' %></li>
			<li><%=link_to "Social", :controller => 'benefits', :action => 'social' %></li>
			<li><%=link_to "Networking", :controller => 'benefits', :action => 'networking' %></li>
			<li><%=link_to "Philanthropic", :controller => 'benefits', :action => 'philanthropic' %></li>
			<li><%=link_to "Educational", :controller => 'benefits', :action => 'educational' %></li>				
		</ul>
	</div>
</div>