<% content_for :stylesheets do %>
	<%= stylesheet_link_tag 'rewards', 'twitter-widget' %>
<% end %>

<%= render :partial => 'nav' %>

<div class="twoColumns-0">
  <h1>Member Rewards</h1>
  <h2>Recreation</h2>
  <ul class="company-list">

    <% @participants.each do |participant| %>
      <li class="company">
        <a href="#" class="company-logo"><%= image_tag participant.logo.url(:thumb) %></a>
        <div class="company-info">
          <a href="#"><%= participant.name %></a>
          <div class="company-meta">
            <div><strong>Deal</strong> <span class="company-info"><%= participant.benefit %></span></div>
            <div><strong>Located</strong> <span class="company-info"><%= participant.regions.join(', ') %></span></div>
          </div>
        </div>
      </li>
    <% end %>

  </ul>
</div>

<%= render :partial => '/shared/additional_marketing' %>