<%#= render :partial => 'nav' %>

<div class="twoColumns-0">
  <%= link_to "â† Back to Rewards List", membership_rewards_path, :class => "tiny right" %>
  <h1><%= @participant.name %></h1>
  <div class="company">
    <%= image_tag @participant.logo.url(:medium), :class => "company-logo" %>
    <div class="company-info">
      <div class="company-meta">
        <div class="deal"><span class="company-info show"><%= RedCloth.new(@participant.bio).to_html.html_safe %></span><br><br></div>
        <div class="deal"><h2>Deal</h2> <span class="company-info show"><%= RedCloth.new(@participant.benefit).to_html.html_safe %></span></div>
        <% if !current_user_expired? %>
          <div class="deal"><h2>How to Redeem</h2> <span class="company-info show"><%= RedCloth.new(@participant.instructions).to_html.html_safe %></span></div>
        <% else %>
          <div id="loginSection" class="notice">
            <h2>How to Redeem</h2>

            <%= render :partial => 'shared/not_a_member', :locals => { :thing_to_do => "see how to redeem the offer" } %>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="twoColumns-1">
  <div class="company">
    <h2>Contact info</h2>
    <div class="company-meta">
      <% unless @participant.url.blank? %>
      <div class="located"><strong class="show">Website</strong> <span class="company-info show"><%= link_to @participant.url, format_participant_url(@participant), :target => "_blank" %></span></div>
      <% end %>
      <% unless @participant.locations.empty? %>

      <div class="located"><strong class="show">Located</strong>
        <% @participant.locations.each do |location| %>
        <span class="company-info show">
          <a href="<%= location.google_map_link unless location.google_map_link.nil? %>">
            <p><%= location.address %><br>
            <% unless location.address_cont.empty? %>
            <%= location.address_cont %><br>
            <% end %>
            <%= location.city %>, OH <%= location.zip %><br>
          </a>
          &#9742; <%= location.phone %></p>
        </span>
        <span class="company-info show">
        </span>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%= render :partial => '/shared/additional_marketing' %>