<% form_for [current_user, @profile], :url => @profile.new_record? ? user_profiles_path : user_profile_path(@profile),
                                      :method => @profile.new_record? ? :post : :put,
                                      :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <div class="form-node">
      <%= f.label :avatar %>
      <%= f.file_field :avatar %>
    </div>

    <div class="form-node">
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number %>
    </div>

    <div class="form-node">
      <%= f.label :profession, "Occupation" %>
      <%= f.text_field :profession %>
    </div>

    <div class="form-node">
      <%= f.label :employer %>
      <%= f.text_field :employer %>
    </div>

    <div class="form-node">
      <%= f.label :education, "Alma mater" %>
      <%= f.text_field :education %>
    </div>

    <div class="form-node">
      <%= f.label :bio %>
      <%= f.text_area :bio %>
    </div>

  </fieldset>

  <div class="formAction clear">
    <%= f.submit %>
  </div>

<% end %>