<%= render :partial => 'nav' %>

<div class="twoColumns-0">

	<h1>Corporate Membership / Sponsorship</h1>

	<p>As a non-profit organization, it is only through the generous contributions of sponsors, partners and friends that the Club is able to offer such a dynamic mix of events and improve our programs for local young professionals. As the Club has grown significantly, it has become increasingly important to reach out for assistance and expertise.</p>

	<p>If you would like to contribute to the Club or for more information on the sponsorship program, please contact the Sponsorship Director at <a href="mailto:partnership@cleveland2030.org" >sponsorship@cleveland2030.org</a>.</p>

	<h2>Current Sponsors</h2>

	<p>We would like to thank our sponsors, partners and friends for their continued support of our mission, events and members!</p>

	<br>
	<h3 class="green">Platinum Sponsors</h3>

	<a target="_blank" href="http://www.nationalcity.com/careers"><%= image_tag 'sponsors/national_city.gif', :alt => 'PNC', :border => 0 %></a>

	<p><a target="_blank" href="https://content.pncmc.com/live/pnc/careers/main/index.html">PNC</a> one of the nation's largest financial institutions, offers commercial and retail banking, mortgage financing and servicing, consumer finance and asset management services through an extensive multi-state network. PNC also operates over 1,400 branches in Florida, Illinois, Indiana, Kentucky, Michigan, Ohio, Pennsylvania and Wisconsin. </p>

	<p>PNC is always looking for friendly, enthusiastic and talented people to join our team.&nbsp; We continue to offer new products, excellent learning and growth opportunities, exciting professional challenges and an engaging workplace.</p>

	<p>Join our team of more than 30,000 top professionals and reach all of your goals with us.&nbsp; Explore career opportunities at <a target="_blank" href="https://content.pncmc.com/live/pnc/careers/main/index.html">PNC Careers!</a></p>

	<hr>

	<%= image_tag 'sponsors/cleveland.gif', :size=>'250x121', :alt => 'Cleveland.com', :border => 0 %>

	<p><a target="_blank" href="http://www.cleveland.com/">CLEVELAND.COM</a>, the ultimate online guide to the city, is the premier news and information Web site in the state of Ohio attracting over 1.2 million unique users every single month. The Web site gives users absolutely everything they need to know about northeast Ohio. It's packed with local and national news, sports, arts and entertainment information, community events, weather, traffic and more - all updated minute-by-minute of every single day. Visit <a target="_blank" href="http://www.cleveland.com/">www.cleveland.com</a> today!</p>

	<hr>
	<br>
	<h3 class="green">Gold Sponsors</h3>

	<p>Please email <a href="mailto:partnership@cleveland2030.org">Sponsorship@cleveland2030.org</a> with inquiries!</p>

	<hr>

	<br>
	<h3 class="green">Strategic Partners</h3>


	<p>As the largest independent mutual bank in the nation, Dollar Bank remains fiercely independent and committed to providing the highest quality of banking services to individuals and businesses for many more years to come. And as a mutual institution, we have no stock to sell. As a well-capitalized bank, we have no reason to sell. This means that consumers and businesses alike will continue to find Dollar Bank as a viable option to meet their needs.</p>

	<hr>

	<br>
	<h3 class="green">Friends of the 20/30 Club</h3>

	<a target="_blank" href="http://www.downtownclevelandalliance.com/"><%= image_tag 'sponsors/dca-logo-home.gif', :border => 0, :alt => 'Downtown Cleveland Alliance' %></a>
	<p><a target="_blank" href="http://www.downtownclevelandalliance.com/">Downtown Cleveland Alliance (DCA)</a> is a not-for-profit organization dedicated to building a dynamic downtown. DCA partners with property owners that are part of Downtown's Business Improvement District in order to provide economic development opportunities, business attraction and retention efforts, the Clean &amp; Safe Ambassador program as well as strategic marketing initiatives for downtown Cleveland. We are committed to making Downtown Cleveland the most compelling place to live, work, and visit in the region. economic development opportunities, business attraction and retention efforts, the Clean &amp; Safe Ambassador program as well as strategic marketing initiatives for downtown Cleveland.</p>

	<hr>

	<a target="_blank" href="http://www.cohencpa.com/"><%= image_tag 'sponsors/cohen-company.png', :border => 0, :alt => 'Cohen Company' %></a>
	<p><a target="_blank" href="http://www.cohencpa.com/">Cohen &amp; Company</a> provides Accounting &amp; Audit, Business Consulting, Tax Planning & Compliance, Corporate Finance, HR Consulting, Litigation &amp; Business Valuation, Outsourcing and Wealth Management services.  </p>

	<hr>

	<a target="_blank" href="http://www.handsonneo.org/"><%= image_tag 'sponsors/handson1140x140.jpg', :border => 0, :alt => 'Hands on North East Ohio' %></a>
	<p><a target="_blank" href="http://www.handsonneo.org/">Hands On North East Ohio</a> makes it easy for people to access, and participate in, volunteer activities that align with their interests and busy schedules while building the capacity of local nonprofits, schools and municipal agencies to make real impact on Northeast Ohio. </p>

	<hr>

	<a target="_blank" href="http://www.clevelandplus.com"><%= image_tag 'sponsors/logoA.gif', :border => 0, :alt => 'Cleveland Plus' %></a>
	<p><a target="_blank" href="http://www.clevelandplus.com">Cleveland +</a> Our region has so much. A vital economy + exciting attractions. Business + medicine + arts & culture. A talented workforce + a diverse residential population + your choice of lifestyles. Thriving cities + welcoming neighborhoods. A rich history + an exciting future. Cleveland Plus is the first-ever regional marketing campaign for Northeast Ohio. Look for our "Networking in the Middle" events to get to know Young Professionals from across the region. </p>

</div>