<% content_for :stylesheets do %>
	<%= stylesheet_link_tag 'about', 'twitter-widget' %>
<% end %>

<%= render :partial => 'nav' %>

<div class="twoColumns-0">

	<h1>Board of Directors</h1>

	<div class="section board">
		<ul>
			<li><%= image_tag("board_photos/Gautam.jpg", :alt => "Gautam Pai", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:president@cleveland2030.org" class="board-email">president@cleveland2030.org</a>
					<strong>President</strong><br>
					Gautam Pai
				</div>
			</li>
      <li><%= image_tag("board_photos/Raab.jpg", :alt => "Lindsey Raab Polichuck", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:presidentelect@cleveland2030.org" class="board-email">presidentelect@cleveland2030.org</a>
					<strong>President Elect</strong><br>
					Lindsey Raab Polichuck
				</div>
			</li>
			<li><%= image_tag("blank.gif", :alt => "Bailee Walker", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:membership@cleveland2030.org" class="board-email">membership@cleveland2030.org</a>
					<strong>Membership Director</strong><br>
					Bailee Walker
				</div>
			</li>
			<li><%= image_tag("blank.gif", :alt => "Kyle Komer", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:networking@cleveland2030.org" class="board-email">networking@cleveland2030.org</a>
					<strong>Networking Director</strong><br>
					Kyle Komer
				</div>
			</li>
			<li><%= image_tag("blank.gif", :alt => "Leia Bradford", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:philanthropy@cleveland2030.org" class="board-email">philanthropy@cleveland2030.org</a>
					<strong>Philanthropy</strong><br>
					Leia Bradford
				</div>
			</li>
			<li><%= image_tag("blank.gif", :alt => "Jennifer Scott", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:social@cleveland2030.org" class="board-email">social@cleveland2030.org</a>
					<strong>Social Director</strong><br>
					Jennifer Scott
				</div>
			</li>
			<li><%= image_tag("blank.gif", :alt => "Erin Figueira", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:communications@cleveland2030.org" class="board-email">communications@cleveland2030.org</a>
					<strong>Communications Director</strong><br>
					Erin Figueira
				</div>
			</li>
			<li><%= image_tag("blank.gif", :alt => "Kevin Solorio", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:technology@cleveland2030.org" class="board-email">technology@cleveland2030.org</a>
					<strong>Technology Director</strong><br>
					Kevin Solorio
				</div>
			</li>
			<li><%= image_tag("blank.gif", :alt => "Thea DeRosa", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:secretary@cleveland2030.org" class="board-email">secretary@cleveland2030.org</a>
					<strong>Secretary</strong><br>
					Thea DeRosa
				</div>
			</li>
			<li><%= image_tag("blank.gif", :alt => "", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:generalcounsel@Cleveland2030.org" class="board-email">generalcounsel@Cleveland2030.org</a>
					<strong>General Counsel</strong><br>
				</div>
			</li>
			<li><%= image_tag("blank.gif", :alt => "Brian Winslow", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:treasurer@cleveland2030.org" class="board-email">treasurer@cleveland2030.orgg</a>
					<strong>Treasurer</strong><br>
					Brian Winslow
				</div>
			</li>
		</ul>
	</div>
</div>