<%= render :partial => 'nav' %>

<div class="twoColumns-0">

	<h1>Board of Directors</h1>

	<div class="section board">
		<ul>
			<li><%= image_tag("board_photos/lindsey-raab.jpg", :alt => "Lindsey Raab Polichuck", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:president@cleveland2030.org" class="board-email">president@cleveland2030.org</a>
					<strong>President</strong><br>
					Lindsey Raab Polichuck
				</div>
			</li>
      		<li><%= image_tag("blank.gif", :alt => "Jeff Sobieraj", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:presidentelect@cleveland2030.org" class="board-email">presidentelect@cleveland2030.org</a>
					<strong>President Elect</strong><br>
					Jeff Sobieraj
				</div>
			</li>
			<li><%= image_tag("board_photos/bryan-schauer.png", :alt => "Bryan Schauer", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:education@cleveland2030.org" class="board-email">education@cleveland2030.org</a>
					<strong>Education Director</strong><br>
					Bryan Schauer
				</div>
			</li>
			<li><%= image_tag("blank.gif", :alt => "Adela Bushi", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:membership@cleveland2030.org" class="board-email">membership@cleveland2030.org</a>
					<strong>Membership Director</strong><br>
					Adela Bushi
				</div>
			</li>
			<li><%= image_tag("board_photos/greg-devan.jpg", :alt => "Greg DeVan", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:networking@cleveland2030.org" class="board-email">networking@cleveland2030.org</a>
					<strong>Networking Director</strong><br>
					Greg DeVan
				</div>
			</li>
			<li><%= image_tag("board_photos/leia-bradford.jpg", :alt => "Leia Bradford", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:philanthropy@cleveland2030.org" class="board-email">philanthropy@cleveland2030.org</a>
					<strong>Philanthropy</strong><br>
					Leia Bradford
				</div>
			</li>
			<li><%= image_tag("board_photos/jennifer-scott.png", :alt => "Jennifer Scott", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:social@cleveland2030.org" class="board-email">social@cleveland2030.org</a>
					<strong>Social Director</strong><br>
					Jennifer Scott
				</div>
			</li>
			<li><%= image_tag("blank.gif", :alt => "Emily Tarr", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:communications@cleveland2030.org" class="board-email">communications@cleveland2030.org</a>
					<strong>Communications Director</strong><br>
					Emily Tarr
				</div>
			</li>
			<li><%= image_tag("blank.gif", :alt => "", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:technology@cleveland2030.org" class="board-email">technology@cleveland2030.org</a>
					<strong>Technology Director</strong><br>
					Vacant
				</div>
			</li>
			<li><%= image_tag("board_photos/thea-derosa.png", :alt => "Thea DeRosa", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:secretary@cleveland2030.org" class="board-email">secretary@cleveland2030.org</a>
					<strong>Secretary</strong><br>
					Thea DeRosa
				</div>
			</li>
			<li><%= image_tag("board_photos/eric-zell.png", :alt => "Eric Zell", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:generalcounsel@cleveland2030.org" class="board-email">generalcounsel@cleveland2030.org</a>
					<strong>General Counsel</strong><br>
					Eric Zell
				</div>
			</li>
			<li><%= image_tag("blank.gif", :alt => "Davide Cugini", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:treasurer@cleveland2030.org" class="board-email">treasurer@cleveland2030.orgg</a>
					<strong>Treasurer</strong><br>
					Davide Cugini
				</div>
			</li>
			<li><%= image_tag("blank.gif", :alt => "", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:sponsorship@cleveland2030.org" class="board-email">sponsorship@cleveland2030.org</a>
					<strong>Sponsorship Director</strong><br>
					Vacant
				</div>
			</li>
		</ul>
	</div>
</div>
