<div class="twoColumns-0">
	<h1>Reset My Password</h1>

	<% form_for @user, :url => password_reset_path, :method => :put do |f| %>
	  <%= f.error_messages %>
		<fieldset>
 			<legend><span><strong>Please create a new password.</strong></span></legend>
	    <div class="form-node">
			  <%= f.label :password %>
			  <%= f.password_field :password %>
			</div>
	    <div class="form-node">
			  <%= f.label :password_confirmation %>
	  		<%= f.password_field :password_confirmation %>
			</div>
		</fieldset>
		<div class="formAction ">	
		  <%= f.submit "Update my Password" %>
	  </div>
	<% end %>
</div>	