<% form_for [:admin, :participant, @location] do |location| %>
  <%= location.error_messages %>
  <div class="form-node">
    <%= location.label :address %>
    <%= location.text_field :address %>
  </div>
  <div class="form-node">
    <%= location.label :address_cont %>
    <%= location.text_field :address_cont %>
  </div>
  <div class="form-node">
    <%= location.label :city %>
    <%= location.text_field :city %>
  </div>
  <div class="form-node">
    <%= location.label :zip %>
    <%= location.text_field :zip %>
  </div>
  <div class="form-node">
    <%= location.label :phone %>
    <%= location.text_field :phone %>
  </div>
  <div class="form-node">
    <%= location.submit  %>
  </div>
<% end %>
