<fieldset>

  <legend><span><strong>Edit Account</strong></span></legend>
  <div class="form-node">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="form-node">
    <%= f.label :new_password %>
    <%= f.password_field :password %>
  </div>

  <div class="form-node">
    <%= f.label :new_password_confirmation, 'Verify new password' %>
    <%= f.password_field :password_confirmation %>
  </div>  
  
</fieldset>

