<% content_for :stylesheets do %>
	<%= stylesheet_link_tag 'members2030','event-teasers', 'twitter-widget' %>
<% end %>

<div class="twoColumns-0">
	<% if @current_user && @current_user.logged_in? %>
	  <% if flash[:notice] %>
	    <div class="success"><%= flash[:notice] %> </div>
	  <% end %>	
		<h1>Welcome Back <%= truncate(@current_user.display_name) %></h1>
	
		<div id="content">
			<p><%=link_to "Edit your account", edit_user_path %></p>
			<% if current_user.user_profile.nil? %>
				<p><%=link_to "Create your profile", new_user_profile_path %></p>
			<% else %>
				<p><%=link_to "Edit your profile", edit_user_profile_path(current_user.user_profile) %></p>
			<% end %>
		</div>
	   		
	<% else %>
	
		<p>You must be logged in to see your account</p>
	
	<% end %>
</div>
<div class="twoColumns-1">
	<div class="sponsored-events">
		<h4>Sponsored Events</h4>
		
		<%= render :partial => "shared/upcoming_sponsored_events", 
	  			   :collection => @sponsored_events,
	   			   :as => :event %>
	</div>
	<div class="upcomming-events">
		<h4>Upcoming Events</h4>
		<%= render :partial => "shared/upcoming_unsponsored_events",
				   :collection => @unsponsored_events,
				   :as => :event %>
	</div>
</div>

<%= render :partial => '/shared/additional_marketing' %>
