<div class="twoColumns-0" >
  <h1><span class="title">Registration</span> <%= link_to "I already have an account", login_path, class: "tiny right" %></h1>
  <%= form_for @registration, :url => registration_path do |f| %>
    <% unless @registration.errors.empty? %>
      <div class="errorExplanation">
        <ul>
          <% @registration.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <fieldset>
    <legend><span><strong>New Account</strong></span></legend>
    <div class="form-node">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>

    <div class="form-node">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>

    <div class="form-node">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="form-node">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class="form-node">
      <%= f.label :password_confirmation, 'Verify password' %>
      <%= f.password_field :password_confirmation %>
    </div>  
  </fieldset>
  
  <fieldset>
    <legend><span><strong>Personal Information</strong></span></legend>
    <div class="form-node">
      <%= f.label :address %>
      <%= f.text_field :address  %>
    </div>
    <div class="form-node">
      <%= f.label :address2 %>
      <%= f.text_field :address2 %>
    </div>
    <div class="form-node">
      <%= f.label :city %>
      <%= f.text_field :city %>
    </div>
    <div class="form-node">
      <%= f.label :state %>
      <%= f.select :state, State.all.collect { |s| [s.title, s.code] }, :include_blank => false %>
    </div>
    <div class="form-node">
      <%= f.label :zip %>
      <%= f.text_field :zip  %>
    </div>
    <div class="form-node">
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number %>
    </div>
  </fieldset>

  <fieldset>
    <legend><span><strong>Profession and Education</strong></span></legend>
    <div class="form-node">
      <%= f.label :profession %><span class="optional">(optional)</span>
      <%= f.text_field :profession %>
    </div>
    <div class="form-node">
      <%= f.label :employer %><span class="optional">(optional)</span>
      <%= f.text_field :employer %>
    </div>
    <div class="form-node">
      <%= f.label :education %><span class="optional">(optional)</span>
      <%= f.text_field :education %>
    </div>
  </fieldset>

  <fieldset>
    <legend><span><strong>About Us</strong></span></legend>
    <div class="form-node">
      <%= f.label :about2030, "How did you hear about Cleveland 20/30?" %><span class="optional optional-two-lines">(optional)</span>
      <%= f.text_area :about2030, :cols => "26", :rows => "4" %>
    </div>
  </fieldset>

  <div class="formAction clear">
    <%= f.submit "Submit" %>
  </div>
  <% end %>
</div>

