<%= form_for @guest, :url => guests_path, :html => {:class => 'rsvp'} do |guest| %>
  <%= hidden_field_tag 'event_id', @event.id %>

  <fieldset>
    <legend>
	    <span>
		    <strong>RSVP for this Event</strong>
	    </span>
    </legend>
    <div class="form-node disabled first">
      <input type="radio" name="member" value="true" disabled id="members" class="radio" /> <label for="members" class="radio member">RSVP as a Member</label>
    </div>

    <%= render :partial => 'events/notifications' %>

    <ul>
      <% @guest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>

    <div class="form-node">
  	  <%= guest.label :first_name %>
	    <%= guest.text_field :first_name %>
    </div>
    <div class="form-node">
      <%= guest.label :last_name %>
      <%= guest.text_field :last_name %>
    </div>
    <div class="form-node">
      <%= guest.label :email %>
      <%= guest.text_field :email %>
    </div>
    <div class="formAction">
      <%= guest.submit "Continue" %>
    </div>
  </fieldset>
<% end %>