<% content_for :stylesheets do %>
	<%= stylesheet_link_tag 'event-teasers','twitter-widget' %>
<% end %>
<% if flash[:notice] %>
  <div class="success"><%= flash[:notice] %></div>
<% end %>
<div class="twoColumns-0">
	<div class="introContainer">
		<div class="intro">
			<ul class="committees">
				<li class="social"><a href="javascript: void(0)" id="link-social">Social</a></li>
				<li class="networking"><a href="javascript: void(0)" id="link-networking">Networking</a></li>
				<li class="philanthropic"><a href="javascript: void(0)" id="link-philanthropic">Philanthropic</a></li>
				<li class="educational"><a href="javascript: void(0)" id="link-educational">Educational</a></li>
			</ul>
			<div id="content-featured" class="intro-content">
				<p>Enhancing the lives of Cleveland's young professionals by offering hundreds of opportunities each year to socialize, network, volunteer, and enjoy life in Cleveland. <%=link_to "Learn More", {:controller => 'benefits', :action => 'involved'}, :class => 'learn' %></p>
			</div>
			<div id="content-social" class="intro-content hide">			
				<p><strong>Make friends. Have fun.</strong><br> Whether you are new to Cleveland or a native, we can help you connect with like-minded young professionals to form lifelong friendships. <%=link_to "Learn More", {:controller => 'benefits', :action => 'social'}, :class => 'learn' %></p>
			</div>
			<div id="content-networking" class="intro-content hide">
				<p><strong>Build relationships. Grow professionally.</strong><br> Build relationships with other professionals in the city who can enhance your personal and professional life. <%=link_to "Learn More", {:controller => 'benefits', :action => 'networking'}, :class => 'learn' %></p>
			</div>
			<div id="content-philanthropic" class="intro-content hide">
				<p><strong>Get involved. Improve your community.</strong><br> Be the change you want to see in our City. Volunteer with the countless organizations in Cleveland that help those in need and meet great people while doing it. <%=link_to "Learn More", {:controller => 'benefits', :action => 'philanthropic'}, :class => 'learn' %></p>
			</div>
			<div id="content-educational" class="intro-content hide">
				<p><strong>Gain knowledge. Unlock potential.</strong><br> With lessons and seminars on everything from sailing on Lake Erie to Small Business Needs we can help you gain power thru knowledge. <%=link_to "Learn More", {:controller => 'benefits', :action => 'educational'}, :class => 'learn' %></p>
			</div>
		</div>
	</div>
	<div class="subintroContainer">
		<div class="subintroColumnLeft">
			<div class="flickr">
				<h4>Photos From Recent Events</h4>
				<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
				<script src="/javascripts/aino-galleria-165c5d5/src/galleria.js"></script>
				<script src="/javascripts/aino-galleria-165c5d5/src/plugins/galleria.flickr.js"></script>
				<style>
				    #galleria{width:100%;}
				    .galleria-container{background:#044E8F url(/images/cle2030-intro-bg_re.png) repeat-x scroll left top}
				</style>
				<div id="galleria"></div>
				<script>
					// Load theme
					Galleria.loadTheme('/javascripts/aino-galleria-165c5d5/src/themes/classic/galleria.classic.js');				    
					// intiialize flickr plugin
					var flickr = new Galleria.Flickr('9005c2c39147fac3ffca9964197671c5');				    
					// inject a photset into galleria
					flickr.getSet('72157624191939250', { 
						size: 'medium'
						}, function(data) {
						$('#galleria').galleria({
              autoplay:5000,
							data_source:data,
							height: '400px'
						});
					});
				</script>          
			</div>
    	<div class="membership">
        <div class="membershipBody">
        	<div class="register">
          	<p class="becomeMember"><a href="/registration/new/" title="register">Become A Member</a></p>
            <p><a href="/registration/new/">Renew Membership</a></p>
					</div>
          <div class="testimonials">
						<div class="testimonialBody">
							<p>"This club is great!<br />There are always a lot of events and<br />this website is cool!"</p>
              <p class="testimonialAuthor"><strong>John Smith</strong><br />Sales Representative for Renewal<br />By Andersen</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="subintroColumnRight">
			<div class="recentnews">
				<h4>Cleveland YP News</h4>
				<script language="JavaScript" src="http://itde.vccs.edu/rss2js/feed2js.php?src=http%3A%2F%2Fblog.cleveland.com%2Fentertainment%2Fatom.xml&chan=n&num=5&desc=50&date=n&targ=n" type="text/javascript"></script>
				<br><div class="small">News provided by: &nbsp;<a href="http://cleveland.com"><img src="/images/sponsoreImage_small.png" style="width: 75px; height: 32px;vertical-align:middle;" border="0"></a></div>
			</div>  
		</div>                          
	</div>
</div>
<div class="twoColumns-1">
	<div class="sponsored-events">
		<h4>Sponsored Events</h4>

		<%= render :partial => "shared/special_event", :locals => { :event => @special_event } %>
		
		<%= render :partial => "shared/upcoming_sponsored_events", 
	  			   :collection => @sponsored_events,
	   			   :as => :event %>
	</div>
	<div class="upcomming-events">
		<h4>Upcoming Events</h4>
		<%= render :partial => "shared/upcoming_unsponsored_events",
				   :collection => @unsponsored_events,
				   :as => :event %>
	</div>
</div>

<%= render :partial => '/shared/additional_marketing' %>
