<% if @event.full? %>
  <%= render partial: "sold_out" %>
<% else %>
  <%= form_tag({:action => 'register_member'}, :class => 'rsvp') do %>
  <%= hidden_field_tag 'event_id', @event.id %>
    <fieldset>
      <legend><span><strong>RSVP for this Event </strong></span></legend>
      <div class="form-node member first">
        <%= image_tag "check_icon.png", class: "checked" %><label for="members" class="radio    member">RSVP as a Member</label>
      </div>
      <div class="formAction">
        <%= submit_tag "RSVP" %>
      </div>
    </fieldset>
  <% end %>
<% end %>
