<h1>New event</h1>

<%= form_for @event, :html => {:multipart => true} do |f| %>
  <% if @event.errors.any? %>
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>

  <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit 'Create', :id => 'event_submit' %>
  </p>
<% end %>

<%= link_to 'Back', events_path %>