<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'event-detail', 'event-teasers' %>
<% end %>
<% if @event.nil? %>
  <h1>Event Not Found</h1>
<% else %>
<% if flash[:notice] %>
  <div class="success"><%= flash[:notice] %></div>
<% end %>
<div class="twoColumns-0">
  <div class="eventDetails">
		<%= link_to "Back to Calendar", calendar_path, :class => 'bac-to-cali' %>
		<% if @current_user && @current_user.logged_in? && @current_user.admin? %>
			<div style="float:right;clear:right;margin-top:20px;">Admin: <%= link_to "Edit this Event", edit_event_path(@event), :style => 'background-color:#0483d3;background-image:url("/images/cle2030-intro-but-bg_re.png");background-repeat:repeat-x;background-position:bottom; border:1px solid #0483d3; color:#fff;text-decoration:none;font-weight:normal;padding:.5em 0;margin-bottom:.1em;-moz-border-radius:5px;-webkit-border-radius:5px;padding:10px;' %></div>
		<% end %>
    <h1><%=h @event.name%></h1>
<div class="columnsContainer">
  <div class="event">
	<a href="#" class="date">
	  <span class="day"><%= @event.start_at.strftime("%d") %></span>
	  <span class="month"><%= @event.start_at.strftime("%b") %></span>
	</a>
	<ul>
		<li class="">
			<h3 class="weekday"><%= @event.start_at.strftime('%A')%></h3>
			<dl>
			<dt>Start time:</dt>
			<dd><%=@event.start_at.strftime('%I:%M %p')%></dd>
			<dt>End time:</dt>
			<dd><%=@event.end_at.strftime('%I:%M %p')%></dd>
			</dl>
		</li>
	</ul>
  </div>
  <% if @event.club_price || @event.standard_price %>
	<div class="miniColumn right">
	  <h3 class="">Cost</h3>
	    <dl>
	    <% if @event.club_price %>
	      <dt>Members:</dt>
	      <dd><%= number_to_currency(@event.club_price) %></dd>
	    <% end %>
	    <% if @event.standard_price %>
	      <dt>Non-Members:</dt>
	      <dd><%= number_to_currency(@event.standard_price) %></dd>
	    <% end %>
	    </dl>
	  </div>
  <% end %>
  <!--<aside class="sponsor-logo">
    <%= image_tag(@event.sponsor.url(:thumb)) %>
  </aside> /sponsored-logo -->
  </div>
    <div class="event-detail rich-text"><%= @event.description%></div>
  </div>
</div>
<div class="twoColumns-1">
  <%= render :partial => "#{@event.get_view_mode(current_user)}", :locals => {:event => @event} %>

  <!--  <div class="whoElse">
      <h4>Who Elese is Going?</h4>
      <p class="notice">You must <%= link_to "log in", new_user_session_path %> before you can see who else is attending!</p>
    </div>-->
 </div>
<% end %>
