<% if flash[:notice] %>
  <div class="success"><%= flash[:notice] %></div>
<% end %>

<div class="twoColumns-0">
  <div class="eventDetails">
    <%= link_to "Back to Calendar", calendar_path, :class => 'bac-to-cali' %>
    <h1><%= @event.name %></h1>
    <div class="columnsContainer">
      <div class="event">
        <a href="#" class="date">
          <span class="day"><%= @event.start_at.strftime("%d") %></span>
          <span class="month"><%= @event.start_at.strftime("%b") %></span>
        </a>
        <ul>
          <li class="">
            <h3 class="weekday"><%= @event.start_at.strftime('%A')%></h3>
            <dl>
              <dt>Start time:</dt>
              <dd><%=@event.start_at.strftime('%I:%M %p')%></dd>
              <dt>End time:</dt>
              <dd><%=@event.end_at.strftime('%I:%M %p')%></dd>
            </dl>
          </li>
        </ul>
      </div>
      <% if @event.club_price || @event.standard_price %>
        <div class="miniColumn right">
          <h3 class="">Cost</h3>
          <dl>
            <% if @event.club_price %>
              <dt>Members:</dt>
              <dd><%= number_to_currency(@event.club_price) %></dd>
            <% end %>
            <% if @event.standard_price %>
              <dt>Non-Members:</dt>
              <dd><%= number_to_currency(@event.standard_price) %></dd>
            <% end %>
          </dl>
        </div>
      <% end %>
    </div>
    <div class="event-detail rich-text"><%= raw @event.description%></div>
  </div>
</div>
<div class="twoColumns-1">
  <%= render :partial => "#{@event.get_view_mode(current_user)}", :locals => {:event => @event} %>
</div>