<% content_for :stylesheets do %>
	<%= stylesheet_link_tag 'benefits', 'committee' %>
<% end %>

<%= render :partial => 'nav' %>

<div class="threeColumns-1">
	<h1>Get Involved</h1>
	<p>The Cleveland Professional 20/30 Club would love for you to get involved!  The Club and its 120+ events are solely run on volunteer time.  With no full time staff, the hours you commit are highly valued and appreciated.</p>
	<p>Want to get a taste of what it's like to work with a nonprofit and learn new skills at the same time?  The Club offers the opportunity for you to join several committees - <%= link_to "Social", involved_social_path %>, <%= link_to "Networking", involved_networking_path %>, <%= link_to "Philanthrophy", involved_philanthropic_path %>, <%= link_to "Education", involved_educational_path %> - which are responsible for providing events throughout the year.</p>
	<p>When you join a committee you will have the opportunity to have an immediate impact on the Club.  Always thankful for those who volunteer their time, you will have the chance to improve your project management skills, run events, work with a diverse group of talented peers, and build lasting friendships.</p>
</div>

