<h1>New Alert</h1>

<%= form_for @alert, :url => alert_path do |f| %>
  <% if @alert.errors.any? %>
    <ul>
    <% @alert.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    <ul>
  <% end %>
  
  <%= f.label :name %><br />
  <%= f.text_field :name %><br />
  <br />
  <%= f.label :alerttext %><br />
  <%= f.text_field :alerttext %><br />
  <br />
  <%= f.submit "Alert" %>
<% end %>

