<%= form_for [:admin, @participant], :html => {:multipart => true, :class=> "well form-horizontal" }  do | participant | %>
  <div>
    <div>
      <% if @participant.errors.any? %>
        <ul>
        <% @participant.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      <% end %>
      <fieldset>
        <legend><span><strong>Company Information</strong></span></legend>
        <div class="control-group">
          <div class="form-node">
            <%= participant.label :name %>
            <%= participant.text_field :name %>
          </div>
        </div>
        <div class="form-node">
          <%= participant.label :url %>
          <%= participant.text_field :url %>
        </div>
        <div class="form-node">
          <%= participant.label :bio %>
          <%= participant.text_area :bio %>
        </div>
        <div class="form-node">
          <%= participant.label :logo %>
          <%= participant.file_field :logo %>
        </div>
      </fieldset>

      <fieldset>
        <legend><span><strong>Benefit Information</strong></span></legend>
        <div class="form-node">
          <%= participant.label :benefit %>
          <%= participant.text_area :benefit %>
        </div>
        <div class="form-node">
          <%= participant.label :instructions, 'How to redeem' %>
          <%= participant.text_area :instructions %>
        </div>
      </fieldset>

    </div>
  </div>
  <div>
    <div class="mod">
      <fieldset class="checklist">
        <legend><span><strong>Select a Category</strong></span></legend>
        <% @categories.each do | category | %>
          <div class="form-node">
            <%= participant.label :category_id, category.name %>
            <%= participant.radio_button :category_id, category.id %>
          </div>
        <% end %>
      </fieldset>
    </div>
  </div>
  <div class="formAction clear">
    <%= participant.submit %>
  </div>
<% end %>
