<%= form_for [:admin, @category] do |category| %>
  <% if @category.errors.any? %>
    <ul>
    <% @category.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>

  <div>
    <%= category.label :name %>
    <%= category.text_field :name %>
  </div>
  <div>
    <%= category.submit %>
  </div>

<% end %>
