<% content_for :stylesheets do %>
	<%= stylesheet_link_tag 'about', 'twitter-widget' %>
<% end %>

<%= render :partial => 'nav' %>

<div class="twoColumns-0">

	<h1>Board of Directors</h1>

	<div class="section board">
		<ul>
			<li><%= image_tag("board_photos/Bennett.jpg", :alt => "Andrew Bennett", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:presidentelect@cleveland2030.org" class="board-email">president@cleveland2030.org</a>
					<strong>President</strong><br>
					Andrew Bennett
				</div>
			</li>
			<li><%= image_tag("board_photos/Gautam.jpg", :alt => "Gautam Pai", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:social@cleveland2030.org" class="board-email">presidentelect@cleveland2030.org</a>
					<strong>President-Elect</strong><br>
					Gautam Pai
				</div>
			</li>
			<li><%= image_tag("board_photos/Chance.jpg", :alt => "Eric Chance", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:treasurer@cleveland2030.org" class="board-email">treasurer@cleveland2030.orgg</a>
					<strong>Treasurer</strong><br>
					Eric Chance
				</div>
			</li>
			<li><%= image_tag("board_photos/ChristinMiller.jpg", :alt => "Christin Miller", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:membership@cleveland2030.org" class="board-email">membership@cleveland2030.org</a>
					<strong>Membership Director</strong><br>
					Christin Miller
				</div>
			</li>
			<li><%= image_tag("board_photos/Fratus.jpg", :alt => "Julie Fratus", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:networking@cleveland2030.org" class="board-email">networking@cleveland2030.org</a>
					<strong>Networking Director</strong><br>
					Julie Fratus
				</div>
			</li>
			<li><%= image_tag("board_photos/littlejohn.jpg", :alt => "Michael	Littlejohn", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:secretary@cleveland2030.org" class="board-email">secretary@cleveland2030.org</a>
					<strong>Secretary</strong><br>
					Michael	Littlejohn
				</div>
			</li>
			<li><%= image_tag("board_photos/Radin.jpg", :alt => "Radin Mason", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:education@cleveland2030.org" class="board-email">education@cleveland2030.org</a>
					<strong>Education Director</strong><br>
					Radin Mason
				</div>
			</li>
      <li><%= image_tag("board_photos/Raab.jpg", :alt => "Lindsey Raab", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:philanthropy@Cleveland2030.org" class="board-email">philanthropy@Cleveland2030.org</a>
					<strong>Philanthropy Director</strong><br>
					Lindsey Raab
				</div>
			</li>
			<li><%= image_tag("blank.gif", :alt => "Kevin Solorio", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:technology@cleveland2030.org" class="board-email">technology@cleveland2030.org</a>
					<strong>Technology Director</strong><br>
					Kevin Solorio
				</div>
			</li>
			<li><%= image_tag("board_photos/Jessica.jpg", :alt => "Jessica Snyder", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:social@cleveland2030.org" class="board-email">social@cleveland2030.org</a>
					<strong>Social Director</strong><br>
					Jessica Snyder
				</div>
			</li>
			<li><%= image_tag("board_photos/Provins.jpg", :alt => "Julie Provins", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:communications@cleveland2030.org" class="board-email">communications@cleveland2030.org</a>
					<strong>Communications Director</strong><br>
					Julie Provins
				</div>
			</li>			
			<li><%= image_tag("board_photos/Viola.jpg", :alt => "Matt Viola", :width => "80px", :class => "board-photo") %>
				<div class="board-memeber-info">
					<a href="mailto:generalcounsel@Cleveland2030.org" class="board-email">generalcounsel@Cleveland2030.org</a>
					<strong>General Counsel</strong><br>
					Matt Viola
				</div>
			</li>
		</ul>	
	</div>
</div>
