<%= form_for [:admin, @region] do |region| %>
  <% if @region.errors.any? %>
    <ul>
    <% @region.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>

  <div>
    <%= region.label :name %>
    <%= region.text_field :name %>
  </div>
  <div>
    <%= region.submit %>
  </div>

<% end %>
