<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'rewards', 'twitter-widget' %>
<% end %>

<%= render :partial => 'membership_rewards/nav' %>

<div class="twoColumns-0">
  <h1>Member Rewards</h1>
  <ul class="company-list">

    <% @participants.each do |participant| %>
      <li>
        <div class="company">
          <%= link_to image_tag(participant.logo.url(:thumb)), membership_reward_path(participant.id), :class => "company-logo" %>
          <div class="company-info">
            <%= link_to participant.name, membership_reward_path(participant.id), :class => "company-name" %>
            <div class="company-meta">
              <div class="deal"><strong>Deal</strong> <span class="company-info"><%= RedCloth.new(participant.benefit).to_html %></span></div>
              <div class="located"><strong>Located</strong> <span class="company-info"><%= participant.regions.join(', ') %></span></div>
            </div>
          </div>
        </div>
      </li>
    <% end %>

  </ul>
</div>

<%= render :partial => '/shared/additional_marketing' %>