<%= form_for [:admin, @user] do |f| %>
  <% if @user.errors.any? %>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>

  <div>
    <div class="form-node">
      <%= f.label       :first_name, "First Name" %>
      <%= f.text_field  :first_name %>
    </div>

    <div class="form-node">
      <%= f.label       :last_name, "Last Name" %>
      <%= f.text_field  :last_name %>
    </div>

    <div class="form-node">
      <%= f.label       :email %>
      <%= f.text_field  :email %>
    </div>

    <div class="form-node">
      <%= f.label           :password %>
      <%= f.password_field  :password %>
    </div>

    <div class="form-node">
      <%= f.label           :password_confirmation %>
      <%= f.password_field  :password_confirmation %>
    </div>

    <div class="formAction clear">
      <%= f.submit %>
    </div>
  </div>
<% end %>