<h1><%= @user.display_name %></h1>
<%= link_to 'Delete', admin_user_path(@user), method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger' %>
<div class="membership-info">
  <p><%= @user.last_renewed_at ? @user.last_renewed_at.strftime('%B %d, %Y') : "Has not renewed" %></p>

  <h3>Member Details</h3>
  <p><%= @user.expired? ? "Expired#{expiration_text(@user)}." : "Account is active until #{@user.expired_at}." %>

  <p><%= link_to "Renew Membership", new_admin_user_membership_renewal_path(@user) %></p>
</div>
<section class="board-service">
  <h1>Board Service</h1>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Position</th>
        <th>Start At</th>
        <th>End At</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @user.board_terms.each do |term| %>
        <tr>
          <td><%= BoardPosition.title(term.position) %></td>
          <td><%= term.start_at.strftime('%B %d, %Y') %></td>
          <td><%= term.end_at.strftime('%B %d, %Y')%></td>
          <td>
            <div class="btn-group">
              <%= link_to 'edit', edit_admin_user_board_term_path(@user, term),
                                  :class => "btn btn-primary" %>
              <%= link_to 'delete', admin_user_board_term_path(@user, term),
                                    :method => :delete, :confirm => 'Are you sure? This cannot be undone',
                                    :class => 'btn btn-danger' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Add Board Term", new_admin_user_board_term_path(@user) %>
</section>
