<div class="twoColumns-0">
  <% if flash[:notice] %>
    <div class="success"><%= flash[:notice] %></div>
  <% end %>
  <h1><span class="title">Login</span> <a href="/registrations/new/" class="tiny right">Create a new account</a>
     <%=link_to "Forgot Your Password?", new_password_reset_path, :class => 'tiny right clear'%>
  </h1>
  <%= form_for @user_session, :url => user_session_path do |f| %>
    <% unless @user_session.errors.empty? %>
      <div class="errorExplanation">
        <ul>
          <% @user_session.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <fieldset>
    	<legend><span><strong>Welcome Back</strong></span></legend>
      <div class="form-node">
        <%= f.label :email %>
        <%= f.text_field :email, :class => "text", :tabindex => 1 %>
      </div>
      <div class="form-node">
        <%= f.label :password %>
        <%= f.password_field :password, :class => "text", :tabindex => 2 %>
      </div>
    </fieldset>
    <div class="formAction ">
      <%= f.submit "Log In" %>
    </div>
  <% end %>
</div>