<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Cleveland 2030</title>
    <link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/main.css">
    <%= yield :stylesheets %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://jquery-ui.googlecode.com/svn/trunk/ui/jquery.effects.core.js"></script>
    <%= javascript_include_tag 'stuff' %>
    <%= yield :scripts %>
    <!--[if lt IE 9]>
	  	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	  	<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/ie/main.css" />  
		<![endif]-->
	</head>
  <body>
  	<div class="beta-flag"></div>
    <div id="container">
      <div id="shadowContainer">
        <div id="innerContainer">
          <div id="header">
            <a href="<%=root_url%>" title="The Cleveland 2030 Club home page" class="logo">
                <img src="/images/logo2.gif" alt="The Cleveland 2030 Logo" border="0">
            </a>
            <div id="loginSection">
              <% if @current_user && @current_user.logged_in? %>
                <%= @current_user.email %> |
                <a href="/user">Account</a> |
              <%= link_to "Sign out", user_session_url(@current_user), :method => :delete  %>
            <% else %>
              <a href="/user_sessions/new/" title="login" class="login">Login</a> | New Here?
              <div class="header-registration becomeMember">
                <a href="/registration/new/" title="register">Become A Member</a>
              </div>
            <% end %>
						<% if @current_user && @current_user.logged_in? && @current_user.admin? %>
							<div class="admin-nav">
								Admin: <a href="/reports">Manage Members</a> | <a href="/registration/new">Create Member</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							</div>
							<div class="admin-nav">
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/calendar">Manage Events</a> | 
								<a href="/events/new">Create Event</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							</div>
							<% end %>
            </div>
          </div>
          <nav>
              <ul>
                <li><%= current_link 'Home', root_path, :title => 'Home' %></li>
                <li><%= current_link 'Member Benefits', {:controller => 'benefits', :action => 'involved'}, :title => 'Member Benefits' %></li>
                <li><%= current_link 'Calendar Events', calendar_url, :title => 'Calendar Events' %></li>
                <li><%=current_link '20/30 Members', members_url, :title => '20/30 Members'%></li>
                <li><%=current_link 'Cleveland<strong>+</strong>', cleveland_plus_url, :title => 'Cleveland Plus'%></li>
                <li><%=current_link 'About 20/30', about_url, :title => "About 20/30"%></li>
              </ul>
          </nav>
          <div id="content">
            <%= yield %>
          </div>

          <footer>
          	The Cleveland Professional 20/30 Club, 668 Euclid, #10	Cleveland, OH 44114 &nbsp;<a href="mailto:info@cleveland2030.org?cc=technology@cleveland2030.org">info@cleveland2030.org</a></footer>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
	var uservoiceOptions = {
	  /* required */
	  key: 'cleveland2030',
	  host: 'cleveland2030.uservoice.com', 
	  forum: '78335',
	  showTab: true,  
	  /* optional */
	  alignment: 'left',
	  background_color:'#f00', 
	  text_color: 'white',
	  hover_color: '#06C',
	  lang: 'en'
	};
	
	function _loadUserVoice() {
	  var s = document.createElement('script');
	  s.setAttribute('type', 'text/javascript');
	  s.setAttribute('src', ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js");
	  document.getElementsByTagName('head')[0].appendChild(s);
	}
	_loadSuper = window.onload;
	window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
	</script>
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18894170-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</html>

