<fieldset>
  <legend><span><strong>Profile Info</strong></span></legend>
  
  <div class = "form-node">
	<%= f.label :avatar, "Add an Image for your Avatar" %>
	<%= f.file_field :avatar %>
  </div>

  <div class="form-node">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="form-node">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="form-node">
    <%#= f.label :email_address %>
    <%#= f.text_field :email_address %>
  </div>

  <% f.fields_for :user_profile do |upf| %>
  <div class="form-node">
    <%= upf.label :phone_number %>
    <%= upf.text_field :phone_number %>
  </div>

  <div class="form-node">
    <%= upf.label :profession %>
    <%= upf.text_field :profession %>
  </div>
  
  <div class="form-node">
    <%= upf.label :employer %>
    <%= upf.text_field :employer %>
  </div>  

  <div class="form-node">
    <%= upf.label :education %>
    <%= upf.text_field :education %>
  </div>
    
  <div class="form-node">
    <%= upf.label :about2030 %>
    <%= upf.text_field :about2030 %>
  </div>
  
  <div class="form-node">
    <%= upf.label :bio %>
    <%= upf.text_area :bio %>
  </div>
  <% end %>
    
</fieldset>

