<% content_for :stylesheets do %>
	<%= stylesheet_link_tag 'members2030' %>
<% end %>

<h1>20/30 Members</h1>

  <% if !current_user_expired? %>
		<div class="section">
			<div class="search-members-public">
				<form method="get" action="/members">
					<input type="text" name="search">
					<input type="submit" value="search">
				</form>
			</div>
			<%= page_entries_info @members, :entry_name => 'Members' %>
			<hr />
			<div class="member-list">
			<%= render :partial => "members_list",
		  		:collection => @members,
		   		:as => :member %>
			</div>
			<%= will_paginate %>
		</div>
	<% else %>
		<div id="loginSection" class="notice">

				<%= render :partial => 'shared/not_a_member', :locals => { :thing_to_do => "see the members list" } %>
		</div>
	<% end %>
